<maven2-moduleset plugin="maven-plugin@1.480.2.4">
<actions/>
<description>
Cloud Foundry/Spring Source springmvc-hibernate sample application (https://github.com/cloudfoundry-samples/springmvc-hibernate-template)
</description>
<logRotator>
<daysToKeep>60</daysToKeep>
<numToKeep>-1</numToKeep>
<artifactDaysToKeep>-1</artifactDaysToKeep>
<artifactNumToKeep>20</artifactNumToKeep>
</logRotator>
<keepDependencies>false</keepDependencies>
<properties>
<nectar.plugins.rbac.groups.JobProxyGroupContainer plugin="nectar-rbac@3.4">
<groups/>
</nectar.plugins.rbac.groups.JobProxyGroupContainer>
<com.cloudbees.jenkins.plugins.PublicKey plugin="cloudbees-public-key@1.1"/>
</properties>
<scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>${repositoryUrl}</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
<canRoam>true</canRoam>
<disabled>false</disabled>
<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
<jdk>(Default)</jdk>
<triggers class="vector">
<com.cloudbees.jenkins.forge.ForgePushTrigger plugin="cloudbees-forge-plugin@1.1">
<spec/>
</com.cloudbees.jenkins.forge.ForgePushTrigger>
</triggers>
<concurrentBuild>false</concurrentBuild>
<rootModule>
<groupId>org.cloudfoundry.templates</groupId>
<artifactId>springmvc31</artifactId>
</rootModule>
<aggregatorStyleBuild>true</aggregatorStyleBuild>
<incrementalBuild>false</incrementalBuild>
<perModuleEmail>true</perModuleEmail>
<ignoreUpstremChanges>false</ignoreUpstremChanges>
<archivingDisabled>false</archivingDisabled>
<resolveDependencies>false</resolveDependencies>
<processPlugins>false</processPlugins>
<mavenValidationLevel>-1</mavenValidationLevel>
<runHeadless>false</runHeadless>
<settingConfigId/>
<globalSettingConfigId/>
<reporters/>
<publishers>
<com.cloudbees.plugins.deployer.DeployPublisher plugin="cloudbees-deployer-plugin@4.1">
<deployIfUnstable>false</deployIfUnstable>
<hosts>
<com.cloudbees.plugins.deployer.impl.cloudfoundry.HostImpl plugin="cloudfoundry-deploy-engine@1.1">
<targets class="java.util.Collections$UnmodifiableRandomAccessList" resolves-to="java.util.Collections$UnmodifiableList">
<c class="list">
<com.cloudbees.plugins.deployer.impl.cloudfoundry.TargetImpl>
<artifact class="com.cloudbees.plugins.deployer.sources.MavenArtifactDeploySource" plugin="cloudbees-deployer-plugin@4.1">
<groupId>org.cloudfoundry.templates</groupId>
<artifactId>springmvc31</artifactId>
<type>war</type>
</artifact>
<url>springmvc-hibernate-${account}.cloudfoundry.com</url>
<runtime>java</runtime>
<name>springmvc-hibernate</name>
<memory>512</memory>
<instances>1</instances>
<framework>java_web</framework>
<command/>
<start>true</start>
<environmentVariables/>
<services>
<com.cloudbees.plugins.deployer.impl.cloudfoundry.TargetImpl_-AppService>
<name>postgresql-springmvc-hibernate</name>
<service>postgresql</service>
<version>9.0</version>
</com.cloudbees.plugins.deployer.impl.cloudfoundry.TargetImpl_-AppService>
<com.cloudbees.plugins.deployer.impl.cloudfoundry.TargetImpl_-AppService>
<name>redis-springmvc-hibernate</name>
<service>redis</service>
<version>2.2</version>
</com.cloudbees.plugins.deployer.impl.cloudfoundry.TargetImpl_-AppService>
</services>
</com.cloudbees.plugins.deployer.impl.cloudfoundry.TargetImpl>
</c>
<list reference="../c"/>
</targets>
<cloud>https://api.cloudfoundry.com</cloud>
</com.cloudbees.plugins.deployer.impl.cloudfoundry.HostImpl>
</hosts>
</com.cloudbees.plugins.deployer.DeployPublisher>
</publishers>
<buildWrappers/>
<prebuilders/>
<postbuilders/>
<runPostStepsIfResult>
<name>FAILURE</name>
<ordinal>2</ordinal>
<color>RED</color>
</runPostStepsIfResult>
</maven2-moduleset>
